{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Timetable: Build</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'build.css' %}">
{% endblock css %}

{% block content %}
<main class="container">
    <form action="{% url 'ui_build' %}" class="form-wrapper" method="POST">
        {% csrf_token %}
        <div id="form-build-wrapper">
            <div id="form-problem">
                <div class="form-group">
                    <label for="timeslots">Timeslots</label>
                    <small>Number of timeslots in a day.</small>
                    <input type="number" id="timeslots" name="timeslots" min="1" max="10">
                </div>
                <div class="form-group">
                    <label for="courses">Courses</label>
                    <small>Number of involved courses.</small>
                    <input type="number" id="courses" name="courses" min="1">
                </div>
                <div class="form-group">
                    <label for="classes">Classes</label>
                    <small>Max amount of classes for each course.</small>
                    <input type="number" id="classes" name="classes" min="1">
                </div>
                <div class="form-group">
                    <label for="locations">Locations</label>
                    <small>Number of locations.</small>
                    <input type="number" name="locations" id="locations" min="1">
                </div>
                <div class="form-group">
                    <label for="rooms">Rooms</label>
                    <small>Number of available rooms.</small>
                    <input type="number" id="rooms" name="rooms" min="1">
                </div>
            </div>
            <div id="form-params">
                <div class="form-group">
                    <label for="search_space">Search Space</label>
                    <small>Define How big is your search space.</small>
                    <input type="number" name="search_space" id="search_space" min="1">
                </div>
                <div class="form-group">
                    <label for="iterations">Iterations</label>
                    <small>Define how many iterations you want.</small>
                    <input type="number" name="iterations" id="iterations" min="1">
                </div>
                <div class="radio-group">
                    <p>Algorithm:</p>
                    <div class="radio-member">
                        <input type="radio" name="algorithm" id="ts" value="ts" checked="checked">
                        <label for="ts">Tabu Search</label>
                    </div>
                    <div class="radio-member">
                        <input type="radio" name="algorithm" id="ga" value="ga">
                        <label for="ga">Genetic</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
    {% if solution %}
    <table>
        <tr>
            <td>filename</td>
            <td>{{ filename }}</td>
        </tr>
        <tr>
            <td>time_taken</td>
            <td>{{ time_taken }}</td>
        </tr>
        <tr>
            <td>conflict</td>
            <td>{{ conflict }}</td>
        </tr>
        <tr>
            <td>nb_rooms</td>
            <td>{{ nb_rooms }}</td>
        </tr>
        <tr>
            <td>nb_courses</td>
            <td>{{ nb_courses }}</td>
        </tr>
        <tr>
            <td>nb_classes</td>
            <td>{{ nb_classes }}</td>
        </tr>
        <tr>
            <td>nb_timeslots</td>
            <td>{{ nb_timeslots }}</td>
        </tr>
        <tr>
            <td>nb_locations</td>
            <td>{{ nb_locations }}</td>
        </tr>
        <tr>
            <td>search_space</td>
            <td>{{ search_space }}</td>
        </tr>
        <tr>
            <td>iterations</td>
            <td>{{ iterations }}</td>
        </tr>
        <tr>
            <td>algorithm</td>
            <td>{{ algorithm }}</td>
        </tr>
    </table>
    {% else %}
    <p>Result goes here...</p>
    {% endif %}
</main>
{% endblock content %}


{% block js %}
<script>
    function updateCoursesMax() {
        // Get the values of timeslots and rooms
        const timeslots = parseInt(document.getElementById('timeslots').value) || 1;
        const rooms = parseInt(document.getElementById('rooms').value) || 1;
        
        // Calculate the new max value
        const maxCourses = timeslots * rooms;
        
        // Set the max value for the courses input
        document.getElementById('courses').setAttribute('max', maxCourses);
    }

    // Attach event listeners to update max value when timeslots or rooms change
    document.getElementById('timeslots').addEventListener('input', updateCoursesMax);
    document.getElementById('rooms').addEventListener('input', updateCoursesMax);

    // Initialize max value on page load
    updateCoursesMax();
</script>
{% endblock js %}
    