* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    box-sizing: border-box;
}

.container {
    padding: 15px 15px 30px 15px;
}

header {
    background-color: darkslategray;
    color: white;
}

#header-title {
    padding: 15px 0;
}

.nav-link {
    padding: 5px 1rem;
    text-decoration: none;
    color: black;
    border-radius: 5%;
    background-color: rgb(222, 184, 135);
}

.nav-link:hover {
    background-color: rgb(255, 225, 186);
}

.nav-active {
    border-bottom: 3px solid rgb(255, 225, 186);
}

.form-wrapper {
    display: block;
    width: 100%;
    padding: 1rem
}

.form-wrapper button {
    padding: 0.4em 1em;
    margin: 1.5em auto 1em auto;
}

.form-group, .radio-group {
    margin: 0.5rem auto;
}

.form-group label, .form-group input  {
    display: block;
    width: 100%;
    margin: 0.2em auto;
}

.form-group label {
    font-weight: bold;
}

button {
    background-color: skyblue;
    border: 1px solid rgb(104, 189, 223);
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(104, 189, 223);
}

table {
    width: 100%;
    padding: 1em;
}