main {
    display: grid;
    grid-template-columns: 50% 50%;
}

#form-build-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
}

#form-problem, #form-params {
    padding: 1em;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}